apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-fpm
  labels:
    {{- include "chart.labels" . | nindent 4 }}
spec:
  {{- if not .Values.fpm.autoscaling.enabled }}
  replicas: {{ .Values.fpm.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "chart.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/part-of: {{ .Chart.Name }}
      app.kubernetes.io/component: fpm
  template:
    metadata:
      {{- with .Values.fpm.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "chart.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/part-of: {{ .Chart.Name }}
        app.kubernetes.io/component: fpm
    spec:
      {{- with .Values.fpm.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "chart.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.fpm.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-fpm
          securityContext:
            {{- toYaml .Values.fpm.securityContext | nindent 12 }}
          image: "{{ .Values.fpm.image.repository }}:{{ .Values.fpm.image.tag | default .Chart.AppVersion | default .Values.version }}"
          imagePullPolicy: {{ .Values.fpm.image.pullPolicy }}
          envFrom:
            - configMapRef:
                name: {{ include "chart.fullname" . }}-fpm
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "chart.fullname" . }}-redis
                  key: REDIS_PASSWORD
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "chart.fullname" . }}-fpm
                  key: DATABASE_PASSWORD
          volumeMounts:
            - name: {{ include "chart.fullname" . }}-fpm
              mountPath: /var/www/html/web/sites/default/files
          ports:
            - name: fpm
              containerPort: 9000
              protocol: TCP
          resources:
            {{- toYaml .Values.fpm.resources | nindent 12 }}
      volumes:
        - name: {{ include "chart.fullname" . }}-fpm
          persistentVolumeClaim:
            claimName: {{ include "chart.fullname" . }}-files
      {{- with .Values.fpm.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.fpm.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.fpm.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
